*{
    /* border: 10px solid red; */
}
.content {
    text-align: center;
    margin-top: 12%;
}
.contact-form{
    /* border:2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.input-div{
    width:30%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.input-div input{
    height:40px;
    width:300px;
}